body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: white;
    color: black;
    padding: 20px 50px;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: center;
    color:black
}

.search {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    justify-content: right;
}

.home img {
    float: center;
    margin-right: 3rem;
    width: 700px;
    padding: 1px 100px;
    background-color: black;
}

.about h3 {
    margin-right: 3rem;
}

.about img p1 {
    float: right;
}

.about img p2 {
    float: left;
}